.nav-list {
    list-style: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;

}

.nav {
    position: absolute;
    z-index: 1;
    right: 115px;
    padding: 0;
    background-color: gray;
    text-align: center;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: #011104;

}